# dependencies
node_modules/
.pnpm-store/

# logs
*.log

# non-public environment variables
.env.local
.env.*.local

# caches
.eslintcache
.prettiercache
*.tsbuildinfo
.turbo

# misc
.DS_Store
.idea/

# build output
dist/

# content output
.content-collections/

# astro
.astro/

# next.js
.next/
out/
next-env.d.ts
